html, body {
  margin: 0;
  padding: 0;
}

html {
  
  background-color: white;
}

body {
  
  width: 70%;
  background-color: #e6e8e5;
  margin: 0 auto;
 
}

div{
	text-align: center;
}
h3 {
 margin-left: 150px
}
ul {
	margin-left: 180px
}

footer {
  margin-left: 150px;
}